.table_hours{
    margin: 5px;
    text-align: center;
}
.table_headers{
    text-align: center;
}
.setup_FormHeader{
    text-align: center;
}
.setup_FormSubheader{
    text-align: center;
}
.setup_FormCategory{
    text-align: center;
}
.setup_headersRoot{
    text-align: center;
}
.setup_sectionHeader{
    text-align: center;
}