:root {
    --primaryColor: #007ad9;
    --primaryTextColor: #ffffff;
    --panelContentBorder: 1px solid #c8c8c8;
  }

  .Header_BlueBar{
      width: 100%;
      background-color: rgba(0, 122, 217, 0.5);
      color: white;
      text-align: center;
      left: 0px;
      right: 0px;
      top: 50%;
      height: 150px;
      position: absolute;
  }
  .Header_InputGroup{
      justify-content: center;
  }
  .Header_HomeTextField.searchfield{
    width: 15%;
    margin: 8px;
  }
  .Header_HomeTextField.zipCode{
      margin: 8px 0px 8px 8px;
  }
.p-inputgroup .p-button{
    margin-top: 8px;
    margin-bottom: 8px;
}